<div class="inner-wrapper" id="second-wrapper">
  <%= form_for(@model, url: {action: "update"}, method: :patch) do |f| %>
    <table align="center" class="school-form-table">
      <tr class="flex-form-title">
        <td class="section-title">Edit Model:</td>
      </tr>
      <tr class="flex-section-title">
        <td class="section-title">Essential Info:</td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :number, 'Model Number', :class => "label name" %>
          <%= f.text_field :number, :class => "name text-input", :placeholder => "ProBook", :required => true %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :first_match, 'Matching Serial Characters', :class => "label type" %>
          <%= f.text_field :first_match, :class => "type text-input", :placeholder => "MXL", :required => true %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.submit 'Save', :class => 'button button-table' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>