<!-- 
  Refactored by Keaton
  May 12th, 2017
  rack/index.html.erb
  A view which provides a form to rack the machine
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Assign Rack", bar_class: "def" %>

<!-- Deploy page specific JavaScript -->
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "rack.js" %>
<% end %>

<!-- Assign the machine a rack -->
<div class="inner-wrapper">
  <%= form_for(@machine, url: {action: "assign"}, method: :post) do |f| %>
    <ul>
      <li>
        <%= f.label :serial_number, 'Serial', :class => "serial label" %>
        <%= f.text_field :serial_number, :class => "serial text-input", :placeholder => "PPPP" %>
      </li>
      <li>
        <%= f.label :asset_tag, 'Asset Tag', :class => "asset label" %>
        <%= f.text_field :reviveit_asset_tag, :class => "serial text-input", :placeholder => "441LMH" %>
      </li>
      <li>
        <%= f.label :asset_tag, 'Cust. Asset Tag', :class => "client-asset label" %>
        <%= f.text_field :client_asset_tag, :class => "serial text-input", :placeholder => "19205A12A" %>
      </li>
      <li>
        <%= f.label :rack_label, 'Rack', :class => "serial label" %>
        <%= f.text_field :rack, :class => "serial text-input", :placeholder => "3-1-3" %>
      </li>
    </ul>
    <%= f.submit 'Submit', :class => 'button submit small', :id => "submit", :disabled => "disabled" %>
  <% end %>
</div>

