<!-- Alternative navigation bar-->
<div class="nav-bar nav-bar-alt">
  <h1>Heat</h1>
  <div class="action-buttons">
    <a href="/"><%= icon('fas', 'home') %><span>Home</span></a>
    <button type="button" class="reprint"><%= icon('fas', 'print') %><span>Reprint</span></button>
    <a href="<%= status_index_path %>"><%= icon('fas', 'chart-line') %><span>Overview</span></a>
    <a href="<%= import_path %>"><%= icon('fas', 'database') %><span>Import</span></a>
  </div>
</div>