<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Racks", bar_class: "def", link: "/admin" %>

<div class="inner-wrapper">
  <table align="center" class="school-form">
    <tr>
      <th>Rack ID</th>
      <th>Full?</th>
      <th>Capacity</th>

      <th>Actions</th>
    </tr>
    <% RackCart.all.each do |rack| %>
      <tr>
        <td><%= rack[:rack_id] %></td>
        <td><%= rack[:full] ? 'Yes' : 'No'  %></td>
        <td><%= rack[:capacity] %></td>
        <td><%= link_to raw('<i class="ic close red-icon"></i>'), rack_list_path(rack.id), method: :delete, data: { confirm: "Are you sure you want to delete #{rack[:rack_id]}?"}  %>
        </td>
      </tr>
    <% end %>
  </table>

  <!-- Displays a form for new form creation -->
  <%= form_for(@rack, url: {action: "create"}, method: :post) do |f| %>
    <table align="center" class="school-form-table">
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :rack_id_label, 'Rack ID', :class => "label name" %>
          <%= f.text_field :rack_id, :class => "name text-input", :placeholder => "ER3" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :capacity_label, 'Capacity', :class => "label capacity" %>
          <%= f.number_field :capacity, :class => "school-code text-input", :placeholder => "58" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.submit 'Submit', :class => 'button submit small button-table' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
