<!-- 
  Refactored by Keaton
  May 12th, 2017
  school/index.html.erb
  A view which displays the current location counts
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Unbox", bar_class: "receive-color no-gradient" %>

<% if @school %>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "school.js" %>
  <% end %>
<% end %>

<!-- Choose location -->
<div class="inner-wrapper">
  <%= form_for(@machine, url: {action: "load_schools"}, method: :post) do |f| %>
    <ul>
      <li>
        <%= f.label :school_label, 'School', :class => "school-select label" %>
        <%= f.select(:location, @schools.map { |value| [ value[:name], value[:name] ] }, {:prompt => "Choose School", :disabled => "0", :selected => params[:school]}, { :class => 'school-select select-input',  :onChange=>"javascript: this.form.submit();" }) %>
      </li>
      <% if @school %>
      <% @school = School.where(name: @school)[0] %>
        <li>
          <div class="roles-quantities">
            <h1 class="role-quantities-title"><%= @school.name %>:</h1>
            <% @roles.each do |role| %>
              <h2 class="role-quantities"><%= role[:name]%>: <%= get_quantity_for(@school.name, role[:name]) %>/<%= @school.quantity[role[:name]] %></h2>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if !@school%>
  <%= link_to "Finish", '/',  :class => 'button done small button-link' %>
  <% end %>
</div>

<% if @school %>
<!-- Assign serial to location -->
<div class="inner-wrapper">
  <%= form_for(@machine, url: {action: "assign"}, method: :post) do |f| %>
    <ul>
      <li>
        <%= f.label :serial_number, 'Serial', :class => "serial label" %>
        <%= f.text_field :serial_number, :class => "serial text-input", :placeholder => "PPPP" %>
        <%= hidden_field_tag :school, params[:school] %>
      </li>
      <li>
        <%= f.label :asset_tag, 'Cust. Asset Tag', :class => "client-asset label" %>
        <%= f.text_field :client_asset_tag, :class => "serial text-input", :placeholder => "19205A12A" %>
      </li>
      <li>
        <%= f.label :role_label, 'Role', :class => "serial label" %>
        <%= f.select(:role, @roles.map { |value| [ value[:name], value[:name] ] }, {:include_blank => true}, { :class => 'role select-input'}) %>
      </li>
    </ul>
    <%= f.submit 'Submit', :class => 'button submit small', :id => "submit", :disabled => "disabled"%>
    <%= link_to "Finish", '/',  :class => 'button done small button-link' %>
  <% end %>
</div>
<% end %>

