<!-- 
  Refactored by Keaton
  May 12th, 2017
  receive/index.html.erb
  A view which provides a form for receiving the machine
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Receive", bar_class: "receive-color no-gradient" %>

<!-- Deploy page specific JavaScript -->
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "receive.js" %>
<% end %>

<div class="inner-wrapper">
  <%= form_for(@machine, url: {action: "create"}, method: :post) do |f| %>
    <ul>
      <li>
        <%= f.label :role_label, 'Role', :class => "serial label" %>
        <%= f.select(:role, @roles.map {|value| [value[:name], value[:name]]}, {:selected => flash[:data]}, {:class => 'role select-input'}) %>
      </li>
      <li>
        <%= f.label :serial_number, 'Serial', :class => "serial label" %>
        <%= f.text_field :serial_number, :class => "serial text-input", :placeholder => "PPPP", :required => true %>
      </li>
      <li>
        <%= f.label :form_factor, 'Role', :class => "form label" %>
        <%= f.select(:form_factor, FormFactor.all.map {|factor| [factor[:name], factor[:id]]}, {:selected => flash[:form_factor]}, {:class => 'role select-input'}) %>
      </li>
      <li>
        <%= f.label :po_number, 'PO Number', :class => "po label" %>
        <%= f.text_field :po_number, :class => "po text-input", :placeholder => "1827882", :required => false, :value => @po_number %>
      </li>
    </ul>
    <%= hidden_field_tag :role, flash[:data] %>
    <%= f.submit 'Submit', :class => 'button submit small', :id => "submit"%>
  <% end %>
</div>
