<!-- 
  Refactored by Keaton
  May 12th, 2017
  status/index.html.erb
  An 'overview' view which has the latest stats
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Overview", bar_class: "def", link: "/" %>

<!-- Displays the statistical information -->
<div class="inner-wrapper">
  <% machines = Machine.by_date %>
  <% if machines.count > 1 %>
    <table align="center" class="school-form">
      <tr>
        <th>Date</th>
        <th>Completed Count</th>
      </tr>
      <% machines.keys.each do |key| %>
        <tr>
          <td><%= key %></td>
          <td><%= machines[key] %></td>
        </tr>
      <% end %>
    </table>
    <% else %>
  <p id="no-data">no machines</p>
  <% end %>
</div>
<div class="inner-wrapper" id="second-wrapper">

  <h2 class="wrapper-section-data">Total: <%= @machines.length %></h2>
  <%= line_chart Machine.group_by_day(:created_at).count %>
</div>
