<!-- 
  Refactored by Keaton
  May 12th, 2017
  status/index.html.erb
  An 'overview' view which has the latest stats
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Overview", bar_class: "def", link: "/" %>

<!-- Displays the statistical information -->
<div class="inner-wrapper" id="second-wrapper">
  <h2 class="wrapper-section-data">Total Imaged: <%= @machines.length %></h2>
  <a class="button button-table button-link" href="/status/download">Download Manifest</a>
  <%= line_chart Machine.group_by_day(:created_at).count %>
</div>

<div class="inner-wrapper" id="second-wrapper">
  <% machines = Machine.by_date %>
  <% if machines.count > 1 %>
    <table align="center" class="school-form">
      <tr>
        <th>PO Number</th>
        <th>Count</th>
      </tr>
      <% Machine.select(:po_number).group(:po_number).having("count(*) > 1").size.each do |size| %>
        <tr>
          <td><%= size[0] ? size[0] : 'No PO Assigned' %></td>
          <td><%= size[1] ? size[1] : 'No Machines Assigned'%></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p id="no-data">no machines</p>
  <% end %>
</div>

<div class="inner-wrapper" id="second-wrapper">
  <% machines = Machine.by_date %>
  <% if machines.count > 1 %>
    <table align="center" class="school-form">
      <tr>
        <th>Serial</th>
        <th>Role</th>
        <th>Form Factor</th>
        <th>Model</th>
        <th>Imaged</th>
        <th>Unboxed</th>
      </tr>
      <% Machine.all.each do |machine| %>
        <tr>
          <td><%= machine.serial_number %></td>
          <td><%= machine.role %></td>
          <td><%= machine.form_factor ? "#{machine.form_factor.name} - #{machine.form_factor.type}" : 'No form factor assigned' %></td>
          <td><%= machine.model ? machine.model : 'No form factor assigned' %></td>
          <td>
            <%= machine.imaged ? raw('<i class="fa fa-check green-icon"></i>') : raw('<i class="fa fa-times red-icon"></i>') %>
            <%= machine.imaged ? machine.imaged[:date] : '' %>
          </td>
          <td><%= machine.unboxed ? raw('<i class="fa fa-check green-icon"></i>') : raw('<i class="fa fa-times red-icon"></i>') %></td>
        </tr>
      <% end %>
    </table>
    <% else %>
  <p id="no-data">no machines</p>
  <% end %>
</div>

