<!-- 
  Refactored by Keaton
  May 12th, 2017
  deploy/index.html.erb
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Deploy", bar_class: "rack-color no-gradient" %>

<!-- Deploy page specific JavaScript -->
<% if @school %>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "deploy.js" %>
  <% end %>
<% end %>

<!-- Choose School -->
<div class="inner-wrapper">
  <%= form_for(@machine, url: {action: "load_schools"}, method: :post) do |f| %>
    <ul>
      <li>
        <%= f.label :school_label, 'School', :class => "school-select label" %>
        <%= f.select(:location, @schools.map { |value| [ value[:name], value[:name] ] }, {:prompt => "Choose School", :disabled => "0", :selected => params[:school]}, { :class => 'school-select select-input',  :onChange=>"javascript: this.form.submit();" }) %>
      </li>
      <% if @school %>
      <% @school = School.where(name: @school)[0] %>
        <li>
          <div class="roles-quantities">
            <h1 class="role-quantities-title"><%= @school.name %>:</h1>
            <% @roles.each do |role| %>
              <h2 class="role-quantities"><%= role[:name]%>: <%= get_quantity_for(@school.name, role[:name]) %>/<%= @school.quantity[role[:name]] %></h2>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<!-- Finally, pull machine from rack-->
<% if @school && @racks %>
<div class="inner-wrapper">
 <%= form_for(@machine, url: {action: "pull"}, method: :post) do |f| %>
    <ul>
      <li>
        <%= f.label :rack_label, 'Rack', :class => "serial label" %>
        <%= f.select :rack, options_for_select(@racks.map{ |rack| [rack.label, rack.rack_id] }) %>
        <%= hidden_field_tag :school, params[:school] %>
      </li>
    </ul>
      <%= f.submit 'Submit', :class => 'button submit small', :id => "submit", :disabled => "disabled"%>
      <%= link_to "Finish", '/',  :class => 'button done small button-link' %>
  <% end %>           
</div>
</div>
<% end %>




