<!-- 
  Refactored by Keaton
  May 12th, 2017
  roles/index.html.erb
  A view which displays the current roles or allows the user to create a new role
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Roles", bar_class: "def" %>


<!-- Table which displays the roles-->
<div class="inner-wrapper">
  <table align="center" class="roles-form">
    <tr>
      <th>Role:</th>
      <th>Specs</th>
      <th>Suffix</th>
      <th>Actions</th>
    </tr>
    <!-- Iterate through roles -->
    <% Role.all.each do |role| %>
      <% @specs = role[:specs]%>
      <tr>
        <td><%= role[:name] %></td>
        <td><strong>CPU</strong>: <%= @specs["cpu"] %><br><strong>HDD</strong>: <%= @specs["hdd"] %>GB<br><strong>RAM</strong>: <%= @specs["ram"] %>GB</td>
        <td><%= role[:suffix] %></td>
        <td><%= link_to raw('<i class="ic close red-icon"></i>'), role, method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <!-- Create a form for creation of roles-->
  <%= form_for(@role, url: {action: "create"}, method: :post) do |f| %>
    <table class="roles-form-table">
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :name_label, 'Name', :class => "label role-name" %>
          <%= f.text_field :name, :class => "role-name text-input", :placeholder => "Teacher" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :specs_label, 'RAM', :class => "label role-specs" %>
          <input class="specs-ram text-input" type="number" name="ram" placeholder="8"><span class="measurement">GB</span>
          <%= f.label :specs_label, 'HDD', :class => "label role-specs" %>
          <input class="specs-hdd text-input"  type="number" name="hdd" placeholder="128"><span class="measurement">GB</span>
          <%= f.label :specs_label, 'CPU', :class => "label role-specs" %>
          <input  class="specs-cpu text-input"  type="text" name="cpu" placeholder="i3">
        </td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :specs_label, 'Suffix', :class => "label role-suffix" %>
          <%= f.text_field :suffix, :class => "role-suffix text-input", :placeholder => "T" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :pallet_layer_count_label, 'Pallet Layer Count', :class => "label pallet-layer-count" %>
          <%= f.number_field :pallet_layer_count, :class => "pallet-layer-count text-input", :placeholder => "12" %>
        </td>
      </tr>
       <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :pallet_total_count_label, 'Pallet Total Count', :class => "label pallet-Total-count" %>
          <%= f.number_field :pallet_count, :class => "pallet-total-count text-input", :placeholder => "48" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.submit 'Submit', :class => 'button submit small button-table' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
