<%= render "shared/nav", title: "Roles", bar_class: "def" %>
<!-- Notification Bar -->
<% if flash[:notice] && @type %>
  <div id="message" class="message closed <%= @type %>">
    <h1><%= @type.titleize%>!</h1>
    <p><%= flash[:notice] %></p>
    <button class="message-dismiss" onclick="document.getElementById('message').classList.toggle('closed');"><i class="ic close"></i></button>
  </div>
  <script type="text/javascript">
    window.onload = function () {
        document.getElementById('message').classList.toggle('closed');
    }
  </script>
<% end %>
<div class="inner-wrapper">
  <table align="center" class="roles-form">
    <tr>
      <th>Role:</th>
      <th>Specs</th>
      <th>Suffix</th>
      <th>Actions</th>
    </tr>
    <% Role.all.each do |role| %>
      <% @specs = role[:specs]%>
      <tr>
        <td><%= role[:name] %></td>
        <td><strong>CPU</strong>: <%= @specs["cpu"] %><br><strong>HDD</strong>: <%= @specs["hdd"] %>GB<br><strong>RAM</strong>: <%= @specs["ram"] %>GB</td>
        <td><%= role[:suffix] %></td>
        <td><%= link_to raw('<i class="ic close red-icon"></i>'), role, method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <%= form_for(@role, url: {action: "create"}, method: :post) do |f| %>
    <table class="roles-form-table">
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :name_label, 'Name', :class => "label role-name" %>
          <%= f.text_field :name, :class => "role-name text-input", :placeholder => "Teacher" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :specs_label, 'RAM', :class => "label role-specs" %>
          <input class="specs-ram text-input" type="number" name="ram" placeholder="8"><span class="measurement">GB</span>
          <%= f.label :specs_label, 'RAM', :class => "label role-specs" %>
          <input class="specs-hdd text-input"  type="number" name="hdd" placeholder="128"><span class="measurement">GB</span>
          <%= f.label :specs_label, 'CPU', :class => "label role-specs" %>
          <input  class="specs-cpu text-input"  type="text" name="cpu" placeholder="i3">
        </td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :specs_label, 'Suffix', :class => "label role-suffix" %>
          <%= f.text_field :suffix, :class => "role-suffix text-input", :placeholder => "Mr." %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.submit 'Submit', :class => 'button submit small button-table' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
