<!-- 
  Refactored by Keaton
  May 12th, 2017
  roles/index.html.erb
  A view which displays the current roles or allows the user to create a new role
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Roles", bar_class: "def", link: "/" %>


<!-- Table which displays the roles-->
<div class="inner-wrapper">
  <table align="center" class="roles-form">
    <tr>
      <th>Role:</th>
      <th>Suffix</th>
      <th>Actions</th>
    </tr>
    <!-- Iterate through roles -->
    <% Role.all.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.suffix.nil? ? raw('<small>No suffix</small>') : role.suffix %></td>
        <td><%= link_to raw('<i class="fas fa-trash-alt fa-2x red-icon"></i>'), role, method: :delete, data: {confirm: "Are you sure you want to delete #{role[:name]}?"} %>
          <%= link_to raw('<i class="fas fa-pencil-alt fa-2x green-icon padded-icon"></i>'), roles_edit_path(id: role.id) %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="inner-wrapper" id="second-wrapper">
  <!-- Create a form for creation of roles-->
  <%= form_for(@role, url: {action: "create"}, method: :post) do |f| %>
    <table class="roles-form-table">
      <tr class="flex-form-title">
        <td class="section-title">New Role:</td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :name_label, 'Name', :class => "label role-name" %>
          <%= f.text_field :name, :class => "role-name text-input", :placeholder => "Teacher" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.label :specs_label, 'Suffix', :class => "label role-suffix" %>
          <%= f.text_field :suffix, :class => "role-suffix text-input", :placeholder => "T" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="roles-form">
          <%= f.submit 'Submit', :class => 'button submit small button-table' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
