<!-- 
  May 15th, 2017
  schools/edit.html.erb
  A view which edits a school/location
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Edit", bar_class: "def", link: "/admin" %>

<!-- Displays a table of schools/locations -->
<div class="inner-wrapper">
  <!-- Displays a form for new form creation -->
  <%= form_for(@school, url: {action: "update"}, method: :post) do |f| %>
    <h1>Editing <%= @school.name %></h1>
    <table align="center" class="school-form-table">
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :school_code_label, 'School Code', :class => "label school-code" %>
          <%= f.text_field :school_code, :class => "school-code text-input", :placeholder => "1738-A" %>
          <%= hidden_field_tag :name, @school.name %>
        </td>
      </tr>
      <% @roles.each do |role|%>
        <tr class="flex-form">
          <td class="school-form">
            <%= f.label :school_code_label, "#{role[:name]} Role Quantity:", :class => "label role-schools" %>
            <input type="number" class="school-role text-input" placeholder="200" value= <%= @school.quantity[role[:name]] %> name="<%= role[:name]%>-role">
          </td>
        </tr>
      <% end %>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :blended_learning_label, 'Blended Learning', :class => "label blended-learning" %>
          <div class="switch">
            <%= f.check_box :blended_learning, :class => "cmn-toggle cmn-toggle-round blended_learning", :id => "cmn-toggle-1"  %>
            <label class="switch-label" for="cmn-toggle-1"></label>
          </div>
        </td>
      </tr>
      <% @roles.each do |role|%>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :ou_string_label, "#{role[:name]} OU", :class => "label ou_string" %>
          <input type="text" class= "ou_string text-input" placeholder="OU=12391239" name="<%= ou_role[:name].downcase! %>_ou">
        </td>
      </tr>
      <% end %>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.submit 'Submit', :class => 'button submit small button-table' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
