<!-- 
  May 15th, 2017
  schools/edit.html.erb
  A view which edits a school/location
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Edit", bar_class: "def", link: "/schools" %>

<!-- Displays a table of schools/locations -->
<div class="inner-wrapper">
  <!-- Displays a form for new form creation -->
  <%= form_for(@school, url: {action: "update"}, method: :post) do |f| %>
    <h1>Editing <%= @school.name %></h1>
    <table align="center" class="school-form-table">
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :name, 'School Name', :class => "label school-name" %>
          <%= f.text_field :name, :class => "school-code text-input", :placeholder => @school.name %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :school_code_label, 'School Code', :class => "label school-code" %>
          <%= f.text_field :school_code, :class => "school-code text-input", :placeholder => "1738-A" %>
          <%= hidden_field_tag :name, @school.name %>
        </td>
      </tr>
      <% @school.role_quantities.all.each_with_index do |role_quantity, index| %>
        <tr class="flex-section-title">
          <td class="section-title"><%= role_quantity.role.name.titleize %> Role:</td>
        </tr>
        <tr class="flex-form">
          <td class="school-form">
            <%= f.label nil, "Max Quantity:", :class => "label role-schools" %>
            <input type="number" class="school-role text-input" placeholder="200" name="roles[<%= index %>][quantity]" value="<%= role_quantity.max_quantity %>">
          </td>
        </tr>

        <tr class="flex-form" id="ou-string">
          <td class="school-form">
            <%= f.label nil, "OU", :class => "label ou-schools" %>
            <input class="school-role text-input" placeholder="OU=Windfield" name="roles[<%= index %>][ou]" value="<%= role_quantity.ou %>">
          </td>
        </tr>
        <%= hidden_field_tag "roles[#{index}][role_quantity_id]", role_quantity.id %>
      <% end %>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :blended_learning_label, 'Blended Learning', :class => "label blended-learning" %>
          <div class="switch">
            <%= f.check_box :blended_learning, :class => "cmn-toggle cmn-toggle-round blended_learning", :id => "cmn-toggle-1" %>
            <label class="switch-label" for="cmn-toggle-1"></label>
          </div>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.submit 'Save', :class => 'button submit small button-table' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

