<!-- 
  Refactored by Keaton
  May 12th, 2017
  schools/index.html.erb
  A view which displays the schools/locations and allows the user to create a new school/location
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Schools", bar_class: "def", link: "/admin" %>

<!-- Displays a table of schools/locations -->
<div class="inner-wrapper">
  <table align="center" class="school-form">
    <tr>
      <th>Name:</th>
      <th>School Code</th>
      <th>Role Quantities</th>
      <th>Actions</th>
    </tr>
    <% School.all.each do |skool| %>
      <tr>
        <td><%= skool[:name] %></td>
        <td><%= skool[:school_code] %></td>
        <td><% skool[:quantity].each do |role|%>
            <%= label :school_quantity, "#{role[0]}: #{role[1]}", :class => "label role-schools" %>
            <% end %>
        </td>
        <td><%= link_to raw('<i class="ic close red-icon"></i>'), skool, method: :delete, data: { confirm: "Are you sure you want to delete #{skool[:name]}?"}  %>
        <%= link_to raw('<i class="ic edit"></i>'), skool, method: :edit %>
         <%= link_to raw('<i class="ic view"></i>'),{:controller => "schools", :action => "view", :id => skool[:id]} %>
        </td>
      </tr>
    <% end %>
  </table>

  <!-- Displays a form for new form creation -->
  <%= form_for(@school, url: {action: "create"}, method: :post) do |f| %>
    <table align="center" class="school-form-table">
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :name_label, 'Name', :class => "label name" %>
          <%= f.text_field :name, :class => "name text-input", :placeholder => "White Station" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :ou_label, 'OU String', :class => "label name" %>
          <%= f.text_field :ou_string, :class => "name text-input", :placeholder => "OU String" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :ou_label, 'Teacher OU String', :class => "label name" %>
          <%= f.text_field :teacher_ou, :class => "name text-input", :placeholder => "OU String" %>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :school_code_label, 'School Code', :class => "label school-code" %>
          <%= f.text_field :school_code, :class => "school-code text-input", :placeholder => "1738-A" %>
        </td>
      </tr>
      <% @roles.each do |role|%>
        <tr class="flex-form">
          <td class="school-form">
            <%= f.label :school_code_label, "#{role[:name]} Role Quantity:", :class => "label role-schools" %>
            <input type="number" class="school-role text-input" placeholder="200" name="<%= role[:name]%>-role">
          </td>
        </tr>
      <% end %>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.label :blended_learning_label, 'Blended Learning', :class => "label blended-learning" %>
          <div class="switch">
            <%= f.check_box :blended_learning, :class => "cmn-toggle cmn-toggle-round blended_learning", :id => "cmn-toggle-1"  %>
            <label class="switch-label" for="cmn-toggle-1"></label>
          </div>
        </td>
      </tr>
      <tr class="flex-form">
        <td class="school-form">
          <%= f.submit 'Submit', :class => 'button submit small button-table' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
