<!-- 
  May 15th, 2017
  schools/view.html.erb
  A view which views

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Viewing '#{@school[:name]}'", bar_class: "def", link: "/admin"%>

<!-- Displays a table of schools/locations -->
<div class="inner-wrapper">
  <table align="center" class="school-form">
    <tr>
      <th>Name</th>
      <th>Role Quantities</th>
      <th>OU Strings</th>
      <th>Blended Learning</th>
    </tr>
      <tr>
        <td><%= @school[:name] %></td>
        <% @school.role_quantities.each do |role_quantity| %>
          <td><%= "#{role_quantity.get_role.name}: #{role_quantity.max_quantity}" %></td>
          <td><%= "#{role_quantity.get_role.name}: #{role_quantity.ou}" %></td>
        <% end %>
        <td>
            <% if @school[:blended_learning] == true %>Yes<% else %>No<% end %>
        </td>
      </tr>
  </table>
</div>
<div class="inner-wrapper flex-wrapper" id="second-wrapper">
  <%= link_to 'Delete', @school, method: :delete, data: { confirm: "Are you sure you want to delete #{@school[:name]}?"}, class: "button small button-link submit"  %>
  <%= link_to 'Edit', @school, method: :edit, class: "button done small button-link" %>
</div>
