<!-- 
  Refactored by Keaton
  May 12th, 2017
  @location/index.html.erb
  A view which displays the current location counts
-->

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Label", bar_class: "receive-color no-gradient" %>

<% if @location %>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "label.js" %>
  <% end %>
<% end %>

<!-- Choose location -->
<div class="inner-wrapper">
  <%= form_for(@machine, url: {action: "load_schools"}, method: :post) do |f| %>
    <ul>
      <li>
        <%= f.label :school_label, 'Location', :class => "@location-select label" %>
        <%= f.select(:location, Location.all.map {|location| [location[:name], location.id]}, {:prompt => "Choose Location", :disabled => "0", :selected => params[:location]}, {:class => '@location-select select-input', :autocomplete => :off, :onChange => "javascript: this.form.submit();"}) %>
      </li>
      <% if @location %>
        <li>
          <div class="roles-quantities">
            <h1 class="role-quantities-title"><%= @location.name %>:</h1>
            <% @location.role_quantities.each do |role_quantity| %>
              <h2 class="role-quantities"> <%= role_quantity.role.name %>
                : <%= role_quantity.quantity ? role_quantity.quantity : '0' %>/<%= role_quantity.max_quantity %></h2>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if @location %>
  <!-- Assign serial to location -->
  <div class="inner-wrapper">
    <%= form_for(@machine, url: {action: "assign"}, method: :post) do |f| %>
      <ul>
        <li>
          <%= f.label :serial_number, 'Serial', :class => "serial label" %>
          <%= f.text_field :serial_number, :class => "serial text-input", :placeholder => "PPPP" %>
          <%= hidden_field_tag :location, @location.id %>
        </li>
        <li>
          <%= f.label :client_asset_tag, 'Cust. Asset Tag', :class => "client-asset label" %>
          <%= f.text_field :client_asset_tag, :class => "serial text-input", :placeholder => "19205A12A" %>
        </li>
        <li>
          <%= f.label :role_label, 'Role', :class => "serial label" %>
          <%= f.select(:role, @location.role_quantities.map {|role_quantity| [role_quantity.role.name, role_quantity.id]}, {include_blank: false}, {:class => 'role select-input'}) %>
        </li>
      </ul>
      </div>
      <div class="inner-wrapper flex-wrapper" id="second-wrapper">
        <%= f.submit 'Submit', :class => 'button button-submit button-centered', :id => "submit" %>
      </div>
    <% end %>
<% end %>

