<!-- 
  Refactored by Keaton
  May 12th, 2017
  root/index.html.erb
  A view which displays the user a welcoming message and provides an easy way to navigate
-->

<!-- Renders alternative navigation bar -->
<%= render "shared/alt_nav" %>

<!-- Table with user profile and table of actions -->
<div class="inner-wrapper">
  <!-- Table of actions -->
  <div class="button-grid">
    <a class="button-square" href="/receive">
      <div class="borderless-button"><i class="fa fa-barcode red-icon"></i></div>
      <span class="list-text">Receive</span></a>
    <a class="button-square" href="<%= unbox_url %>">
      <div class="borderless-button"><i class="fa fa-tag green-icon"></i></div>
      <span class="list-text">Label</span></a>
    <a class="button-square last" href="<%= inventory_url %>">
      <div class="borderless-button"><i class="fa fa-archive blue-icon"></i></div>
      <span class="list-text">Inventory</span></a>
  </div>
</div>
<div class="inner-wrapper" id="second-wrapper">
  <div class="button-grid">
    <a class="button-square" href="<%= roles_index_path %>">
      <div class="borderless-button"><i class="fa fa-users"></i></div>
      <span class="list-text">Roles</span></a>
    <a class="button-square last" href="<%= locations_index_path %>">
      <div class="borderless-button"><i class="fa fa-location-arrow"></i></div>
      <span class="list-text">Locations</span></a>
  </div>
</div>
<%= render "shared/footer" %>