<!-- 
  Refactored by Keaton
  May 12th, 2017
  root/index.html.erb
  A view which displays the user a welcoming message and provides an easy way to navigate
-->

<!-- Renders alternative navigation bar -->
<%= render "shared/alt_nav" %>

<!-- Table with user profile and table of actions -->
<div class="inner-wrapper">
  <!-- Table of actions -->
  <div class="button-grid">
    <a class="button square" href="/receive">
      <div class="rounded-button receive-color"><i class="receive ic ic-list"></i></div>
      <span class="list-text">Receive</span></a>
    <a class="button square" href="<%= unbox_url %>">
      <div class="rounded-button unbox-color"><i class="unbox ic ic-list"></i></div>
      <span class="list-text">Unbox</span></a>
    <a class="button square last" href="<%= inventory_url %>">
      <div class="rounded-button rack-color"><i class="rack ic ic-list"></i></div>
      <span class="list-text">Inventory</span></a>
  </div>
</div>
<div class="inner-wrapper" id="second-wrapper">
  <div class="button-grid">
    <a class="button square" href="<%= roles_index_path %>">
      <div class="rounded-button"><i class="roles ic ic-list"></i></div>
      <span class="list-text">Roles</span></a>
    <a class="button square last" href="<%= locations_index_path %>">
      <div class="rounded-button"><i class="school ic ic-list"></i></div>
      <span class="list-text">Locations</span></a>
  </div>
</div>
<%= render "shared/footer" %>