<!-- 
  May 15th, 2017
  locations/view.html.erb
  A view which views

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Viewing '#{@location[:name]}'", bar_class: "def", link: "/" %>

<!-- Displays a table of locations/locations -->
<div class="inner-wrapper">
  <table align="center" class="school-form">
    <tr>
      <th>Name</th>
      <th>Role Quantities</th>
      <th>OU Strings</th>
      <th>Blended Learning</th>
    </tr>
    <tr>
      <td><%= @location[:name] %></td>
      <td>
        <% @location.role_quantities.each do |role_quantity| %>
          <%= "#{role_quantity.get_role.name}: #{role_quantity.quantity}/#{role_quantity.max_quantity}" %><br>
        <% end %>
      </td>
      <td>
        <% @location.role_quantities.each do |role_quantity| %>
          <%= "#{role_quantity.get_role.name}: #{!role_quantity.ou.empty? ? role_quantity.ou : 'No OU'}" %><br>
        <% end %>
      </td>
      <td>
        <%= @location[:blended_learning] ? 'Yes' : 'No' %>
      </td>
    </tr>
  </table>
</div>
<div class="inner-wrapper flex-wrapper" id="second-wrapper">
  <%= link_to 'Delete', @location, method: :delete, data: {confirm: "Are you sure you want to delete #{@location[:name]}?"}, class: "button small button-table button-link submit" %>
  <%= link_to 'Edit', @location, method: :edit, class: "button done small button-table button-link" %>
</div>
<div class="inner-wrapper" id="second-wrapper">
  <table align="center" class="school-form">
    <tr>
      <th>Serial</th>
      <th>Asset Tag</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    <% @location.machines.each do |machine| %>
      <tr>
        <td><%= machine.serial_number %></td>
        <td><%= machine.client_asset_tag ? machine.client_asset_tag : 'No asset tag assigned' %></td>
        <td><%= machine.role ? machine.role : 'No role assigned' %></td>
        <td>
          <%= link_to raw('<i class="fa fa-times fa-2x red-icon"></i>'), remove_machine_from_location_path(id: machine.id), method: :delete, data: {confirm: "Are you sure you want to remove this machine from location?"} %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
