<!-- 
  May 15th, 2017
  locations/view.html.erb
  A view which views

<!-- Render premade navigation bar -->
<%= render "shared/nav", title: "Viewing '#{@location[:name]}'", bar_class: "def", link: "/" %>

<!-- Displays a table of locations/locations -->
<div class="inner-wrapper">
  <table align="center" class="school-form">
    <tr>
      <th>Name</th>
      <th>Role Quantities</th>
      <th>OU Strings</th>
      <th>Blended Learning</th>
    </tr>
    <tr>
      <td><%= @location[:name] %></td>
      <td>
        <% location.role_quantities.each do |role_quantity| %>
          <%= "#{role_quantity.get_role.name}: #{role_quantity.quantity}/#{role_quantity.max_quantity}" %><br>
        <% end %>
      </td>
      <td>
        <%= @location[:blended_learning] ? 'Yes' : 'No' %>
      </td>
    </tr>
  </table>
</div>
<div class="inner-wrapper flex-wrapper" id="second-wrapper">
  <%= link_to 'Delete', @location, method: :delete, data: {confirm: "Are you sure you want to delete #{@location[:name]}?"}, class: "button small button-link submit" %>
  <%= link_to 'Edit', @location, method: :edit, class: "button done small button-link" %>
</div>
