<!-- 
  -- #   # #####   #   #####
  -- #   # #      # #    #  
  -- #   # #     #   #   #  
  -- ##### ####  #   #   #  
  -- #   # #     #####   #  
  -- #   # #     #   #   #  
  -- #   # ##### #   #   #  
  Welcome to Heat
  Written May 7th, 2017
  Refactored May 12th, 2017
  layouts/application.html.erb
  ER2 - Keaton Burleson
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Heat</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript_includes %>

  </head>
  <body>
      <% if notice %>
        <% content_for :javascript_includes do %>
          <%= javascript_include_tag "move-to-error.js" %>
        <% end %>
        <p onclick="$('#notice').slideUp();" id="notice <%= flash[:type]%>" class="notice <%= flash[:type]%>"><%= notice %></p>
      <% elsif alert %>
          <% content_for :javascript_includes do %>
            <%= javascript_include_tag "move-to-error.js" %>
          <% end %>
        <p onclick="$('#alert').fade();" id="alert <%= flash[:type]%>" class="alert <%= flash[:type]%>"><%= alert %></p>
      <% end %>
      <div class="wrapper">
        <%= yield %>
      </div>
  </body>
</html>