<!-- 
  -- #   # #####   #   #####
  -- #   # #      # #    #  
  -- #   # #     #   #   #  
  -- ##### ####  #   #   #  
  -- #   # #     #####   #  
  -- #   # #     #   #   #  
  -- #   # ##### #   #   #  
  Welcome to Heat
  Written May 7th, 2017
  Refactored May 12th, 2017
  layouts/application.html.erb
  ER2 - Keaton Burleson
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Heat</title>
    <%= csrf_meta_tags %>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"  %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">

    <!-- Favicons -->
    <%= render 'application/favicon' %>


    <% if flash[:type] == "error"%>
        <% content_for :javascript_includes do %>
          <%= javascript_include_tag "move-to-error.js" %>
        <% end %>
    <% end %>

    <!-- Optional JavaScript -->
    <%= yield :javascript_includes %>
  </head>

  <body>
      <audio preload="auto" id="audio-error">   
        <source src="/error.mp3" />  
        <source src="/error.ogg" />  
      </audio> 
      <% if notice %>
        <p onclick="$('#notice').slideUp();" id="notice <%= flash[:type]%>" class="notice <%= flash[:type]%> <% if flash[:type] == "error"%>large-notification <% end %>"><%= notice %></p>
      <% elsif alert %>
        <p onclick="$('#alert').fade();" id="alert <%= flash[:type]%>" class="alert <%= flash[:type]%>"> <%= alert %></p>
      <% end %>
      <div class="wrapper">
        <%= yield %>
      </div>
  </body>
</html>