<!DOCTYPE html>
<html>
  <head>
    <title>Heat</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
      <% if notice %>
        <p id="notice" class="notice"><%= notice %><button class="message-dismiss" onclick="document.getElementById('notice').classList.toggle('dismissed');"><i class="ic close"></i></button></p>
      <% elsif alert %>
        <p id="alert" class="alert"><%= alert %><button class="message-dismiss" onclick="document.getElementById('alert').classList.toggle('dismissed');"><i class="ic close"></i></button></p>
      <% end %>
      <div class="wrapper">
        <%= yield %>
      </div>
  </body>
</html>