<!DOCTYPE html>
<html>
  <head>
    <title>Heat</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
      <% if notice %>
        <p onclick="$('#notice').slideUp();" id="notice" class="notice"><%= notice %></p>
      <% elsif alert %>
        <p onclick="$('#alert').slideUp();" id="alert" class="alert"><%= alert %></p>
      <% end %>
      <div class="wrapper">
        <%= yield %>
      </div>
  </body>
</html>